header{
    width: 100%;
    height: 60px;
    background-color: rgba(85, 84, 84, 0.308);
}

.logo {
    height: 30px;
    margin: 15px 0 15px 20px;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #191414;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1 {
    margin: 1em;
    text-align: center;
}

p {
    margin-top: 2em;
    margin-bottom: 3em;;
    text-align: center;
}

form {
    width: 80vw;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input, textarea, select {
    margin: 2px 0 10px 0;
    width: 100%;
    min-height: 2em;
}

input, textarea {
    background-color: rgba(85, 84, 84, 0.308);
    border: 1px solid rgba(85, 84, 84, 0.308);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.fav {
    width: unset;
    margin: 0 1em 0 0;
    vertical-align: middle;
}

.question {
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.options {
    font-weight: bold;
    color: #1DB954;
    font-size: 20px;
    margin-top: 15px;
}

.comments {
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

input[type="submit"] {
    display: block;
    width: 35%;
    margin: 2em auto;
    height: 2.5em;
    font-size: 1.1rem;
    color: #191414;
    background-color: #20CF5E;
    border-color: #20CF5E;
    font-weight: bold;
    letter-spacing: 1.5px;
    border-radius: 50px;
}